body{
color: rgb(0, 255, 213);
background: rgb(129, 233, 252);
}
 header{
    border-bottom: solid 2px rgb(rgb(22, 159, 223));
    padding: 20px;
    font-size: 32px;
  color: blue;
  background:violet;
   }
 .chamada{
   background:blue;
   padding-top: 100px;
   padding-bottom: 100px;
   display: flex;
   justify-content: center;
 }
