body{
color: rgba(235, 183, 13, 0.841);
background: rgb(129, 233, 252);
}

 header{
    border-bottom: solid 2px rgb(rgb(22, 159, 223));
    padding: 20px;
    font-size: 32px;
  color: blue;
  background: rgba(237, 6, 206, 0.417);

   }
 .chamada{
   background: rgba(45, 223, 128, 0.51);
   padding-top: 100px;
   padding-bottom: 100px;
   display: flex;
   justify-content: center;

 }
.chamada-texto {
    margin: right 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}
.categorias_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}